.new-product h2 {
  margin-bottom: 20px;
}

.new-product-content {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.new-product-form {
  width: 80%;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

/* forms */
.new-product-form label {
  display: block;
  margin-bottom: 20px;
}
.new-product-form label span {
  display: block;
  margin-bottom: 6px;
}
.new-product-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
