.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  color: black;
  font-size: 1.2rem;
}

.modal-products {
  margin-top: 0;
}
.modal-subcategories {
  margin-top: 20px;
}

.modal-subproducts {
  margin-top: 20px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}
