.subproduct-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--secondary-color);
  color: var(--heading-color);
  border-radius: 5px;
}

.subproduct-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.subproduct-section h5 {
  font-size: 1em;
  text-align: center;
  margin: 10px;
}

.subproduct-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
}

.subproduct-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subproduct-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}

.subproduct-item label {
  font-size: 1em;
}

.subproduct-item input {
  margin-left: auto;
}
